<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("kaigo_logo.png",class:"kaigo-logo"),root_path%>
    <%= search_form_for Post.ransack(params[:q]), url: search_posts_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :title, placeholder: '質問をタイトルから探す', class: 'input-box' %>
      <br>
      <%= f.label :submit, class: "search-button" do %>
        <input type="submit" value="検索" class="send">
      <%= f.submit :submit, id: "q_submit", style: "display: none;"%>
      <% end %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li>ようこそ<%= link_to current_user.nickname, "#", class: "user-nickname" %>さん！</li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% if current_page?(root_path)%>
          <li><%= link_to '質問する', new_post_path, class: "post-form-link" %></li>
        <% end %>
      <% else %>
       <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
       <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>