<%= render "shared/header" %>

<div class="index-main">
  <div class="new-post">
    <h2 class="new-post-title">新着質問</h2>
    <% unless  Post.exists? %>
      <div class="empty">まだ投稿がありません。<br>
      右上バーにある「質問する」から投稿してください。<br>
      登録してない方は、まずは新規登録をしてください！<br>
      </div>
    <% end %>
    <% @posts.each do |post| %>
    <li class="list">
      <div class="post-info">
        <div class="post-user">
          <% if post.user.sex_id == 2 %>
            <%= link_to image_tag("men.png",class:"men-logo")%>
          <% else %>
            <%= link_to image_tag("lady.png",class:"lady-logo")%>
          <% end %>
          <div class="user-name">
            <%= post.user.nickname%>
          </div>
      </div>
        <h3 class="post-title">
          <%= link_to post.title, post_path(post.id), class: "post-form-link",method: :get %>
        </h3>
        <div class="post-body">
          <%= post.body %>
        </div>
        <div class="post-info2">
          <div class="post-tag">
            <% post.tags.each do |tag| %>
              <div class="tag-name">
                <%= tag.tag_name %>
              </div>
              <% end %>
          </div>
          <div>
          <div class="post-created">
            <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
        </div>
      </div>
      <% end %>
    </li>
  </div>
</div>